body, html {
    background-image: radial-gradient(circle at 50% 50%, #cfa2c8, #961f6e); /* keeping gradient pattern consistent, with a changed color-scheme */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.name {
    padding: 0.5vw;
    margin-top: 2vw; /* remove margin */
    top: .5vw;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* explicitly 5 columns */
    gap: 10px; /* add gap between images */
    padding: 20px; /* add padding around the gallery */
    width: 100%; /* make full width */
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    max-height: 300px; /* calculate optimal max height */
    aspect-ratio: 1/1; /* maintain aspect ratio */
}

/* Media Query for Mobile Devices */
@media (max-width: 1000px) {
    body, html {
        overflow: hidden;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* two columns on mobile */
        gap: 1vw; /* adjust gap for mobile */
        padding: 10px; /* adjust padding for mobile */
    }

    .name {
        font-size: clamp(2rem, 5vw, 3rem); /* adjust font size dynamically */
        white-space: nowrap; /* prevent wrapping */
        overflow: hidden; /* handle overflow */
        width: fit-content; /* fit the width to the content */
        display: flex; /* use flex to align within the container */
        justify-content: center; /* center the text horizontally */
        align-items: center; /* center the text vertically */
        margin: 0.3em auto; /* remove margin to bring it closer */
    }

    .mobileMenu {
        display: block;
      }
    
    .menuButton {
          display: none;
    }

    .container {
        padding: 20px; /* reduce padding */
        margin: 0 auto; /* remove top margin to bring it closer */
        left: 0vw;
        max-width: 90%;
        height: auto;
    }
}