body, html {
    background-image: radial-gradient(circle at 50% 50%, #cfa2c8, #961f6e); /* keeping gradient pattern consistent, with a changed color-scheme */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.name {
    padding: 0.5vw;
    margin-top: 2vw; /* remove margin */
    top: .5vw;
    left: 40vw;
}

.container {
    width: 97%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 10px; /* gap between images */
    padding: 20px; /* add padding around the gallery */
    width: 100%;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    object-fit: cover;
    max-height: 300px;
    aspect-ratio: 1/1; /* maintain aspect ratio */
}

/* Mobile Optimization */
@media (max-width: 1000px) {
    body, html {
        overflow-y: auto;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* two columns on mobile */
        gap: 1vw; /* adjust gap for mobile */
        padding: 10px; /* adjust padding for mobile */
    }

    .name {
        font-size: clamp(2rem, 5vw, 3rem);
        white-space: nowrap; /* prevent wrapping */
        overflow: hidden;
        width: fit-content;
        display: flex;
        justify-content: center; /* center the text horizontally */
        align-items: center; /* center the text vertically */
        margin: 0.5em auto; /* smaller margins */
        left: 0vw;
    }

    .mobileMenu {
        display: block;
      }
    
    .menuButton {
          display: none;
    }

    .container {
        padding: 20px;
        margin: -1.5em auto; /* remove top margin */
        left: 0vw;
        max-width: 90%;
        height: auto;
    }
}