body, html { 
    background-image: radial-gradient(circle at 50% 50%, #9db5cf, #465582);
    }

    .name {
        left: 3.01vw;
        top: .67vh;
    }

    .word-cloudtainer {
      position: absolute;
      left: 10vw;
      top: 7vw;
      display: block;
    }

    @media (max-width: 1000px){

      .word-cloudtainer {
        width: 100vw; /* Full viewport width */
        height: auto; /* Maintain aspect ratio */
        object-fit: cover; /* Cover the viewport area */
        left: 0vw;
        top: 25vw;
    }

      .word-cloudtainer img {
          width: 100vw; /* Full viewport width */
          height: auto; /* Maintain aspect ratio */
          object-fit: cover; /* Cover the viewport area */
      }
    }