body, html {
        background-image: radial-gradient(circle at 50% 50%, #b2b2b2, #000000);
    }
    .name {
        width: 29.08vw;
        height: 13.49vh;
        padding: 0.5vw;
        left: 3.01vw;
        top: .67vh;
    }

      .skills-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2.5vh;
        width: 91.9vw;
        height: 31.8vw;
        position: relative;
        left: 3.01vw;
        top: 2.81vh;
        overflow-y: auto; /* VERTICAL scrolling */
        overflow-x: hidden; /* NO HORIZONTAL scrolling */
        border-radius: 2vw; /* 8px */
        padding: 1vw;
        background-color: white;
        justify-content: space-between;
      }

    /*  .skills-container {
        display: flex;
        justify-content: space-around; /* Adjust as needed 
        flex-wrap: wrap;
        flex-direction: row;
        background-color: white;
        width: 91.9vw;
        height: 63.8vh;
        position: relative;
        left: 3.01vw; /* X position in VW 
        top: 13.81vh; /* Y position in VH *
        align-items: center;
        overflow-y: auto; /* VERTICAL scrolling *
        overflow-x: hidden; /* HORIZONTAL scrolling *
        padding: 1vw;
        gap: 1.46vw; /* 20px for each item in container *
        border-radius: 0.59vw; /* 8px *
        margin-top: 0;
        align-items: flex-start;
       } */

      .image-column, .info-column {
        flex: 1;
        padding: 10px;
      }

      .image-column img {
        max-width: 100%;
        height: auto;
      }
      
      .info-column, .skill-group h2 {
        margin: 1.46vw;
      }
      
      .skill-group .skill {
        margin: 3vw; /* 20px */
        padding: 2vw;
      }

      #skill-menu {
        position: absolute;
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        padding: 10px;
        display: none; /* Keep it hidden until needed */
      }      
    
       h1, h2, h3, h4, h5, h6 {
        font-family: "LeagueSpartan-SemiBold", sans-serif;
        font-size: 2vw;
        color: #000000;
        margin-top: 1.46vw;
        margin-bottom: 10px;
      }
      
      p {
        font-family: "LeagueSpartan-Light", sans-serif;
        color: #000000;
        font-size: 1.5vw;
      }

/*      @media (max-width: 1000px) {
        .skills-container {
          flex-direction: column;
        }
        
        .image-column, .info-column {
          flex: none;
        }      
      } */

      @media (max-width: 1000px) {
        body, html {
          overflow-y: auto;
        }

        .skills-container {
            display: flex;
            flex-direction: column;
            padding: 2vw; /* Add padding for smaller screens */
            max-height: none;
            height: 100vh;
            top: 10vw;
        }
        .name {
            font-size: 2em; /* Adjust title size for mobile */
            top: 5vw;
        }
    
        .info-column {
            font-size: 1em; /* Adjust info column text size for mobile */
        }
    
        h1, h2, h3, h4, h5, h6 {
            font-size: 1.5em; /* Adjust headings for mobile */
        }
    
        p {
            font-size: 1em; /* Adjust paragraph text for mobile */
        }
          .mobileMenu {
              display: block;
          }
          .menuButton {
              display: none;
          }
      }