body, html {
    margin: 0;
    padding: 0;  
        background-image: radial-gradient(circle at 50% 50%, #54afb5, #005239);
}

@font-face {
    font-family: 'ClearWerk';
    src: url('/assets/fonts/Clearwerkkraftremix-vmK7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('/assets/fonts/LeagueSpartan-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    .banner {
        background: #000000;
    }

    .banner__content {
        padding: .05vw;
        max-width: 25vw;
        margin: 0 auto;
        display: flex;
        align-items: center;
      }

    .banner__text {
        flex-grow: 1;
        font-family: "LeagueSpartan", sans-serif;
        color: white;
    }

    .banner__close {
        background: none;
        border: none;
        cursor: pointer;
    }

    .banner__text,
    .banner__close > span {
        color: #ffffff;
    }


    .container {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        padding: 6.5vw; /*90px;*/
    }

    .name {
        flex: 0 1 auto;
        align-self: flex-start;
        font-size: 3.61vw; /* 5.17vh; /* 37pt; */
        white-space: normal;
        text-wrap: break-word;
        padding: 1.61vw; /* 20px */
        flex-shrink: 0;
        font-family: "ClearWerk", sans-serif;
        color: #fff;
        letter-spacing: 0.2em;
        font-weight: 400;
        font-style: normal;
        font-optical-sizing: auto;
        margin-bottom: auto;
    }    
    
    .long-button {
        width: 20.72vw; /*276.9px;*/
        height: 94vh; /*calc(452.2px + 150px);*/
        position: relative; /* Allows absolute positioning inside */
        background-color: white;
        margin-right: 1.61vw; /* 22px */
        border-radius: 0.59vw; /* 8px;*/
        margin-bottom: 1.75vw; /*29px;*/
        flex: 1 1 auto;
        flex-direction: column;
        overflow: hidden; /* Keeps everything contained inside the button */
        display: flex;
        justify-content: flex-end; /* Center items horizontally */
        align-items: center;
        align-self: flex-end;
    }

    .long-button .large-image,
    .long-button .link-text {
        width: auto; /* Adjust based on your design */
        max-width: 100%; /* Ensures content doesn't overflow its container */
        height: auto; /* Maintain aspect ratio for images */
        display: block; /* Ensures block-level display */
        margin: 2.19vw 0; 
    }

    .long-button .large-image {
        width: 100%; /* Makes the image cover the button */
        height: auto; /* Keeps the image aspect ratio */
        align-self: flex-start;
    }

    .long-button .link-text {
        font-family: "LeagueSpartan", sans-serif; /* Choose your desired font */
        font-size: 2.54vw; /* 26pt */
        color: #000000; /* Set the text color */
        text-align: center; /* Center the text */
        flex-grow: 1;
    }

    .long-button .small-image {
        /* Adjust the size of the small image */
        width: 5.86vw; /*80px */
        height: auto; /* Maintain aspect ratio */
        align-self: flex-end;
        margin-bottom: 2vw;
    }

    .name, .long-button {
        flex-direction: column;
    }


    .button-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        /* height: calc(2 * 307.2px + 22px);*/
        height: 66.75vh
    }
    
    .button-row {
        display: flex;
        justify-content: center;
    }

    .small-button {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 20.72vw;
        height: 48vh;
        background-color: white;
        border-radius: 0.59vw; /* 8px */
        text-decoration: none;
        color: #000;
        font-size: 2.65vw; /* 26pt */
        font-family: "LeagueSpartan", sans-serif;
        font-style: normal;
        padding: 1.64vw; 
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }    

    .small-button img {
        margin-top: auto;
        width: 60%;
        border-radius: 0.59vw; /* 8px */
    }    
    
    .small-button .link-text {
        margin-top: auto; /* 1.46vw; padding: 20px; */
        font-family: "LeagueSpartan", sans-serif; /* Choose your desired font */
        font-size: 2.54vw; /* 26pt */
        color: #000; /* Set the text color */
        text-align: center;
        padding: auto;
        text-decoration: none;
        flex-grow: 1;
        padding: 5vh;
    }
    
    .small-button:not(:last-child) {
    margin-right: 1.61vw; /* 22px */
    }
    
    .button-row:not(:last-child) {
    margin-bottom: 1.61vw; /* 22px */
    }

    @media (max-width: 1000px) {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            overflow: wrap;
        }
        .container, .button-row, .button-group, .name-and-long-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%; /* Ensures full width */
            height: auto;
            margin-bottom: 1vw;
            justify-content: space-between;
        }
        
        .long-button .small-image{
            margin-bottom: 4vw;
            width: 25vw;
            height: auto;
        }

        .small-button, .long-button {
            width: auto;
            height: auto;
            margin: 4vw 0;
            border-radius: 4vw;
        }
    
        .name {
            font-size: 13vw;
            letter-spacing: 0.6em;
        }
        .long-button .link-text {
            font-size: 10vw;
        }

        .small-button .link-text {
            font-size: 10vw;
        }
    }

/* My viewport is 1536 x 841.983 */