body, html {
    margin: 0;
    padding: 0;  
        background-image: radial-gradient(circle at 50% 50%, #ffca64, #d66b26); /* keeping gradient pattern consistent,
        with a changed color-scheme */
    }

    @font-face {
        font-family: 'ClearWerk';
        src: url('/assets/fonts/Clearwerkkraftremix-vmK7.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'LeagueSpartan';
        src: url('/assets/fonts/LeagueSpartan-SemiBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .bar2 {opacity: 0;}

    .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    }

    .menu-hidden {
        display: none;
    }
    
    .menu-visible {
        display: block;
        color: transparent;
        position: fixed;
        top: 20px; /* Adjust as needed */
        right: 20px; /* Adjust for testing */
        z-index: 100; 
        font-family: 'LeagueSpartan', sans-serif;
        color: white;
    }

    .menu-visible ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .menu-visible li {
        display: inline;
        margin-left: 1.46vw; /* Space between links */
      }
      
      .menu-visible a {
        text-decoration: none;
        color: white; /* Adjust color to fit your design */
        font-size: 1.5rem; /* Adjust size as needed */
      }

      /* Mobile Nav Section! */
    .mobileMenu {
      display: none;
    }

    .mobileMenu {
      overflow: hidden;
      background-color: #333;
      position: relative;
    }
    
    .mobileMenu #myLinks {
      display: none;
    }
    
    .mobileMenu a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: 'LeagueSpartan', sans-serif;
      display: block;
    }
    
    .mobileMenu a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .mobileMenu a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .active {
      background-color: #005239;
      color: white;
    }

    .name {
        flex: 0 1 auto;
        align-self: flex-start;
        font-size: 3.61vw; /* 5.17vh; /* 37pt; */
        width: 29.08vw;
        height: 13.49vh;
        white-space: normal;
        text-wrap: break-word;
        padding: 0.5vw;
        flex-shrink: 0;
        font-family: "ClearWerk", sans-serif;
        color: black;
        letter-spacing: 0.2em;
        font-weight: 400;
        font-style: normal;
        font-optical-sizing: auto;
        position: absolute;
        left: 35%;
        top: 10.67vh;
    }

      .book-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vw;
        height: 40vw;
        top: 9.5vh; /* Y coordinate */
        left: 289px; /* X coordinate */
        box-sizing: border-box; /* ensures padding is inside the container */
        overflow: hidden; /* ensure content stays within rounded corners */
      }

      .book-image {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: calc(100% - 76.8px); /* adjust width minus padding */
        height: calc(100% - 76.8px); /* adjust height minus padding */
        border-radius: 2vw; /* rounding corners */
      }

      .publication-1 {
        position: absolute;
        font-family: 'LeagueSpartan', sans-serif; /* or any font you prefer */
        font-size: 1rem; /* Adjust size as needed */
        text-align: right;
        text-wrap: wrap;
        top: 5.5vw;
        left: 5.3vw;
        max-width: 35%;
        /* background: rgba(0, 0, 0, 0.5); optional: semi-transparent background */
        padding: 10px;
        border-radius: 5px; /* optional: rounded corners for the overlay */
      }

      @media (max-width: 1000px){
        .mobileMenu {
          display: block;
          z-index: 101;
      }
        .menuButton {
            display: none;
        }
  
        .name {
          position: relative;
          top: 10vw;
          left: 20%;
          font-size: 2rem;
        }
  
        .book-container {
          width: 100vw; /* Full viewport width */
          height: auto; /* Maintain aspect ratio */
          object-fit: cover; /* Cover the viewport area */
          left: 0vw;
          top: 5vw;
        }

        .publication-1 {
          left: 13vw;
          max-width: 30%;
        }
  
        .book-image img {
            width: 100vw; /* Full viewport width */
            height: auto; /* Maintain aspect ratio */
            object-fit: cover; /* Cover the viewport area */
        }
      }